<div class="container">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body  text-center">
          @if (!registerMode) {
          <div class="row">
            <div class="col">
              <h1>Find Your Match</h1>
              <h4>Come on in to view your matches.... all you need to do is signup</h4>
              <button (click)="toggleRegister()" mat-flat-button style="background-color: coral;">Register</button>
              <button mat-flat-button class="decent mx-2">Learn More</button>
            </div>
          </div>
        }
          @if(registerMode){
          <div class="row">
            <div class="col">
              <app-register></app-register>
            </div>
          </div>
        }
        </div>
      </div>
    </div>
  </div>
</div>
